
.navbar-items{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  list-style: none;
  background-color: black;

}

.navbar-brand{
color:wheat;
  background-color: black;
}
.navbar-brand:hover{
  color:wheat;
  background-color: black;
 }    
.nav-link{
  color: white;
}
 .nav-link:hover{
  background-color: white;
  color: black;
 }     
